/* Common breakpoints:
320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */

/* Desktops and laptops ----------- */
@media only screen  and (max-width : 1224px) {
    /* Styles */
}

/* iPad Pro (landscape) ----------- */
@media only screen and (max-device-width : 1366px) and (min-device-width : 1024px) and (orientation : landscape) {
    html,body {
        background-color: salmon;
        background-size: 100%;
        background-repeat: no-repeat;
        margin-bottom: 15vh;
    }

    /* header styling */
    header {
        height: 35vh;
    }

    /* main styling */
    main {
        height: 53.5vh;
        margin-bottom: 10%;
        border-bottom: maroon solid 10px;
    }
}

/* iPads (landscape) ----------- */
@media only screen and (max-device-width : 1024px) and (min-device-width : 769px) and (orientation : landscape) {
    html,body {
        background-color: salmon;
        background-size: 100%;
        background-repeat: no-repeat;
        margin-bottom: 15vh;
    }

    /* header styling */
    header {
        height: 35vh;
    }

    #planet-express-logo {
        display: flex;
        align-items: center;
        width: 20%;
        margin: auto;
    }

    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2%;
    }

    #header-intro {
        font-size: 16px;
        padding: 5%;
    }

    p {
        font-size: 12px;
    }

    /* main styling */
    main {
        height: 53.5vh;
        margin-bottom: 10%;
        border-bottom: maroon solid 10px;
    }

    /* Available crew list styling */
    #clipboard-title {
        font-size: 12px;
    }

    #available-crew-list {
        font-size: 12px;
    }

    /* character card styling */
    .character-image {
        height: 7rem;
    }

    /* default button styling */
    button {
        font-size: 12px;
        height: fit-content;
    }
}

/* iPads (portrait) ----------- */
@media only screen and (max-device-width : 1024px) and (min-device-width : 768px) and (orientation : portrait) {
    html,body {
        width: 100vw;
        height: 100vh;
    }

    /* header styling */
    header {
        display: none;
    }

    #heading-container {
        display: none;
    }

    #rotate-icon-container {
        display: flex;
        width: 100%;
        height: 100%;
        margin: auto;
    }

    #rotate-icon-container img {
        height: 50%;
        margin: auto;
    }
    
    #planet-express-logo {
        display: none;
    }

    /* main styling */
    main {
        display: none;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (max-device-width : 768px) {
    /* Available crew list styling */
    #clipboard-title {
        font-size: 12px;
    }

    #available-crew-list {
        font-size: 12px;
    }

    /* character card styling */
    .character-image {
        height: 5rem;
    }

    p {
        font-size: 12px;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 768px) {
/* Styles */
}