html,body {
    background-image: url(images/star-sky.jpg);
    background-size: contain;
    margin: 0;
}

#rotate-icon-container {
    display: none;
}

/* pop-up window styling */

#pop-up-window-container {
    background: #22222294;
    backdrop-filter: blur(3px);
    z-index: 1;
    position: absolute;
    height: 100vh;
    width: 100vw;
}

#pop-up-window {
    background: white;
    display: flex;
    flex-direction: row;
    border: black solid 4px;
    border-radius: 20px;
    height: 60%;
    width: 50%;
    margin: auto;
}

#farnsworth-image {
    height: 90%;
    margin: auto;
}

#message-container {
    display: flex;
    flex-direction: column;
    width: 65%;
}

#farnsworth-message {
    display: flex;
    align-items: center;
    text-align: center;
    background: turquoise;
    border: black solid 2px;
    border-radius: 20px;
    box-shadow: 0 0 30px 5px cyan;
    height: 52%;
    width: 72%;
    margin: 4%;
    margin-bottom: 0;
    padding: 10%;
}

#confirm-btn {
    height: fit-content;
}

/* header styling */

header {
    color: white;
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100vw;
    height: 25vh;
}

#planet-express-logo {
    display: flex;
    width: auto;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
}

#heading-container {
    display: flex;
    flex-direction: column;
    width: 73vw;
    padding: 1%;
}

h1 {
    background: linear-gradient(to top, #F04D07 0%, #BD0000 100%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px rgb(228, 200, 110);
    -webkit-text-fill-color: transparent;
    font-family: serif;
    height: 30%;
    margin: auto;
}

#header-aside {
    color: goldenrod;
}

#header-intro {
    font-size: 16px;
    padding: 2%;
}

/* main styling */

main {
    display: flex;
    width: 100vw;
    height: 75vh;
}

#crew-container {
    display: flex;
    flex-direction: column;
    width: 73%;
    margin: 1%;
}

/* Available crew list styling */

#crew-clipboard {
    background-image: url(images/cartoon-clipboard.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    width: 23vw;
    margin: 1%;
}

#clipboard-title {
    display: flex;
    align-items: center;
    font-size: 14px;
    height: 15%;
    margin: auto;
    margin-top: 10%;
}

#available-crew-list {
    display: flex;
    flex-direction: column;
    height: 81%;
    width: 50%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15%;
}

.li-selected {
    color: gray;
    text-decoration: line-through;
    pointer-events: none;
}

/* form styling */

#form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
}

#crew-form {
    display: flex;
    justify-content: center;
    width: 80%;
}

.input-text {
    width: 20%;
    margin: 4px;
}

#submit-button {
    width: fit-content;
    margin: 4px;
}

/* launch button styling */

#launch-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: limegreen;
    border: forestgreen solid 3px;
    width: 10%;
    margin: 2px;
}

#launch-btn:hover {
    box-shadow: 0 0 15px 8px yellowgreen;
}

/* character card styling */

#character-cards {
    background-color: mediumseagreen;
    border: black solid 4px;
    border-radius: 20px;
    display: inline-flex;
    height: 87%;
}

.empty-card {
    background-color: aquamarine;
    border: black solid 3px;
    border-radius: 20px;
    width: 17.5%;
    margin: 1%;
}

.filled-card {
    color: black;
    background-color: white;
    text-align: center;
    border: black solid 3px;
    border-radius: 20px;
    display: inline-grid;
    width: 17.5%;
    margin: 1%;
}

h3 {
    margin-top: 0;
}

.character-image {
    justify-self: center;
    height: 10rem;
}

.header-div {
    display: flex;
    justify-content: right;
    background-color: bisque;
    border-bottom: burlywood solid 2px;
    border-radius: 20px 20px 0 0;
    width: 98%;
    height: fit-content;
    padding-right: 2%;
    padding-top: 1%;
}

.remove-btn {
    border-radius: 50px;
    height: fit-content;
    width: fit-content;
    margin: 0;
}

.star {
    filter: grayscale();
    height: 18px;
}

.star-active {
    height: 18px;
}

.footer-div {
    display: flex;
    flex-direction: row;
    align-content: center;
    background-color: bisque;
    border-top: burlywood solid 2px;
    border-radius: 0 0 20px 20px;
}

.like-btn {
    background-color: limegreen;
    border: forestgreen solid 3px;
}

/* default button styling */

button {
    position: relative;
    justify-self: center;
    color: white;
    font-family: serif;
    font-size: 14px;
    background-color: salmon;
    border: darkred solid 3px;
    border-radius: 5px;
    height: 2rem;
    width: max-content;
    margin: auto;
}

button:hover {
    box-shadow: 0 0 15px 2px cyan;
}